@page
@model WorldBestClinic.Pages.CheckOutModel
@{
}

<h1>Check out</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Payment.products" />

    @* Customer Info *@

    <div class="mb-3">
        <label asp-for="Payment.name" class="control-label"></label>
        <input asp-for="Payment.name" class="form-control" />
        <span asp-validation-for="Payment.name" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Payment.address" class="control-label"></label>
        <input asp-for="Payment.address" class="form-control" />
        <span asp-validation-for="Payment.address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Payment.city" class="control-label"></label>
        <input asp-for="Payment.city" class="form-control" />
        <span asp-validation-for="Payment.city" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Payment.province" class="control-label"></label>
        <input asp-for="Payment.province" class="form-control" />
        <span asp-validation-for="Payment.province" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Payment.postalCode" class="control-label"></label>
        <input asp-for="Payment.postalCode" class="form-control" />
        <span asp-validation-for="Payment.postalCode" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Payment.country" class="control-label"></label>
        <input asp-for="Payment.country" class="form-control" />
        <span asp-validation-for="Payment.country" class="text-danger"></span>
    </div>


    @* Billing Details *@
    <div class="mb-3">
        <label asp-for="Payment.CCNumberString" class="control-label"></label>
        <input asp-for="Payment.CCNumberString" class="form-control" />
        <span asp-validation-for="Payment.CCNumberString" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Payment.ccExpiryDate" class="control-label"></label>
        <input asp-for="Payment.ccExpiryDate" class="form-control" />
        <span asp-validation-for="Payment.ccExpiryDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Payment.cvvString" class="control-label"></label>
        <input asp-for="Payment.cvvString" class="form-control" />
        <span asp-validation-for="Payment.cvvString" class="text-danger"></span>
    </div>

    <div class="mb-3">
        @*<input type="submit" value="Place Order" class="btn btn-primary" />*@
        <a asp-page="./Confirmation" class="btn btn-primary">Return to Shopping Cart</a>
        <a asp-page="./ShoppingCart" class="btn btn-outline-dark">Return to Shopping Cart</a>
    </div>

</form>
