@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var randomService = Model.Services[new Random().Next(Model.Services.Count)];
    string featureImagePath = "/ServicePhotos/" + randomService.FileName;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the world best clinic</h1>
    <p>Learn about <a href="https://regencyparkfamilypractice.ca/">Regencypark Family Practice</a>.</p>
</div>



<div class="container">
    <div class="row feature-service">
        @if (Model.Services.Any())
        {
@*            string detailsPageLink =$"/Services/Details?id={randomService.ServiceId}";*@

            <a asp-page="/ServiceDetail" asp-route-id="@randomService.ServiceId">
                <div class="card text-bg-dark hoverEffect">
                    <img src="@featureImagePath" class="card-img" alt="feature">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Feature service</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
        }
    </div>

</div>

<div class="container">
    <div class="row" >

        @*@foreach (var item in Model.Services)*@
        @for(int i = 1; i<=Model.Services.Count();i++)
        {
            if(Model.Services[i-1] != randomService)
            {
                string imagePath = "/ServicePhotos/" + Model.Services[i-1].FileName;

                <a asp-page="/ServiceDetail" asp-route-id="@Model.Services[i-1].ServiceId" class="hoverEffect col-xl-3 mb-4">

                    <div >

                            <img src="@imagePath" class="card-img-top" style="width: 100%; height: 200px;alt="ServicePhoto">
                                <p class="card-text">Check our services.</p>     
                </div>
                </a>
            } 
            
            if(i % 4 == 0)
            {
                @:</div><div class="row">
            }


             // Close the last row
            if(i == Model.Services.Count())
            {
                @:</div class="row"> 
            }

        }

    </div>
</div>
