@page
@model WorldBestClinic.Pages.ShoppingCartModel
@{
}

<div class = "container">
      <div class="row mt-3">

         <h1>Shopping cart</h1>
          
         <hr />
        @foreach(var item in Model.Services)
        {
             string imagePath = "/ServicePhotos/" + item.FileName;

            <div class="col-md-6 mb-3">
                <img src="@imagePath" class="img-fluid rounded"/>
            </div>

            <div class="col-md-6">
                <h5> Service details</h5>
                  <h4>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </h4>
                <h4>
                    @Html.DisplayFor(modelItem => item.Description)
                </h4>
@*                <div class="mb-3">
                    <label asp-for="Service.ServiceName" class="control-label fw-semibold"></label>
                    <div>@Model.Service.ServiceName </div>
                </div>
                <hr />*@
            </div>
        }

      
    </div>

</div>



